version: '3.8'

services:
  mongodb:
    image: mongo:8
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    networks:
      - library-network

  backend:
    build:
      context: ./LibraryApi
      dockerfile: Dockerfile
    container_name: backend
    ports:
      - "8080:8080"
    environment:
      - MongoDbSettings__ConnectionString=mongodb://mongodb:27017
      - MongoDbSettings__DatabaseName=LibraryDb
      - ASPNETCORE_URLS=http://+:8080
    depends_on:
      - mongodb
    networks:
      - library-network

  frontend:
    build:
      context: ./library-frontend
      dockerfile: Dockerfile
    container_name: frontend
    ports:
      - "4200:80"
    depends_on:
      - backend
    networks:
      - library-network

networks:
  library-network:
    driver: bridge

volumes:
  mongo_data: